<p>&nbsp;</p>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <p *ngIf="show">He who bit the sun made despair into flesh</p>
    <p *ngIf="!show">&nbsp;</p>
    </div>
    <div class="col-xs-12">
      <button
       class="btn btn-primary"
       (click)="revealText()">Display Details</button>
    </div>
    <p>&nbsp;</p>
    <div class="col-xs-12">
      <div
      *ngFor="let log of logs"
      [ngStyle] ="{ backgroundColor: log >= 5 ? 'blue': 'white'}"
      [ngClass]="{'text-muted':log >= 5 }">{{ log }}</div>
    </div>
  </div>
</div>
